* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background-color: gray;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

/* Animations */

[data-aos="example-anim1"] {
  transform: skewX(45deg);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: skewX(0);
    opacity: 1;
  }
}

[data-aos="example-anim2"] {
  opacity:1;
  transition-property: opacity;
  transition-duration: 5s;
}
&.aos-animate {
    opacity:0;
  }


[data-aos="example-anim3"] {
  transform: rotate(360deg);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: rotate(0);
    opacity: 1;
  }
}

#wow {
  width:200px;
  height:200px;
  background-color:black;
}
